*{
    padding: 0;
    margin: 0;
   box-sizing: border-box;
}
header{
  display: flex;
  flex-direction: column;
  color: #5A84B1;


}

.main_Container{
    width: 98vw;
    height: 97vh;
    background-image: url(../../assets/loginImg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.form{
    display: flex;
    flex-direction: column;
   margin-top: -48px;
    margin-left: 50%;
    height: 100%;
   
}
#lastText{
  margin-left: 76%;
  color:#a4a3a2;
}
#subHeading{
  margin-left: 26%;
  color:#a4a3a2;
}
#welcomNote{
  font-size: 28px;
  margin-left: 12px;
  margin-top: 5px;
}
#bottomHeading{
  margin-left: 60%;
  font-size: 28px;
}
.formTopPart{
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  height: 60%;
  border-radius: 7px  7px 450px 7px ;
  margin-top: 6%;
}
.formBottomPart{
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  height: 20%;
  margin-top: 3%;
  border-radius:120px 7px  7px  7px ;
  
}
button{
  margin-top: 2%;
  width: 90%;
  margin-left: 5%;
  height: 25%;
  border-radius:120px ;
  background-color: #5A84B1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  border: none;
}
button[disabled] {
  background-color:#f2f1f1;
}
button:not([disabled]) {
  background-color: #5A84B1;
}

#mainHeading{
padding-top: 55px;
font-size: 60px;
font-weight:bold;
}
.errorMessage {
  font-size: 12px; 
  color: red;
}

@media only screen and (max-width: 600px) {
  .form {
    max-width: 90%;
  }

  .formContent {
    grid-template-columns: 1fr;
  }

  #mainHeading {
    font-size: 24px;
  }

  #welcomNote {
    font-size: 16px;
  }

  #subHeading {
    font-size: 14px;
  }

  #bottomHeading {
    font-size: 14px;
  }}
   
   

